on:
  push:
    branches: ["main"]
  
jobs:
  build-push:
    runs-on: ubuntu-latest 
    permissions:
      packages: write
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: "ghcr.io/Strophox/tetrs:latest"

